<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Flygram</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.24.4</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.xinhooi.flygram</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>f.flygram</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>baidumap</string>
		<string>iosamap</string>
		<string>comgooglemaps</string>
		<string>qqmap</string>
	</array>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>MiSDKAppID</key>
	<string>2882303761517976314</string>
	<key>MiSDKAppKey</key>
	<string>5111797614314</string>
	<key>MiSDKRun</key>
	<string>${MiSDKRun}</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Flygram访问您的媒体资料库，是否允许访问？</string>
	<key>NSCameraUsageDescription</key>
	<string>Flygram会在上传头像等服务中访问您的相机，是否允许访问？</string>
	<key>NSContactsUsageDescription</key>
	<string>将您的联系人上传到 Flygram 的服务器，以便您更方便的添加好友，并帮助我们提供更好的服务。</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSLocalizedDescription</key>
	<string>1</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Flygram会在发送位置信息中使用您的定位，是否允许访问？</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Flygram会在录音等服务中访问您的麦克风功能，是否允许访问？</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Flygram会在上传头像等服务中访问您的相册功能，是否允许访问？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Flygram会在上传头像等服务中访问您的相册功能，是否允许访问？</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
